/**
 * @name ChhMembers
 * @author the chh guys
 * @description all of us
 * @version 1.4.2
*/

/* //// fonts //// */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=M+PLUS+Rounded+1c&family=Righteous&family=Sigmar+One&display=swap");

@font-face {
    font-family: 'ihatecomicsans';
    src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/ihatecomicsans.ttf") format('truetype');
}

@font-face {
    font-family: 'workear';
    src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/workear.ttf") format('truetype');
}

@font-face {
  font-family: 'mom';
  src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/mom.ttf");
}

@font-face {
    font-family: 'derzoxrain';
    src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/rainw.ttf") format('truetype');
}

@font-face {
    font-family: 'lucidaconsolebu';
    src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/lucon.ttf") format('truetype');
}

@font-face {
	font-family: 'comicsanslol';
	src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/Comic%20Sans%20MS.ttf") format('truetype');
}

@font-face {
	font-family: 'doctoramigo';
	src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/amiga.ttf") format('truetype');
}

@font-face {
	font-family: 'typewriter';
	src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/typewriter.ttf") format('truetype');
}

@font-face {
	font-family: 'chancur';
	src: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/fnt/chancur.ttf") format('truetype');
}

/* //// font end //// */

.blobContainer_e5445c:has(.wrapper__6e9f8[data-list-item-id="guildsnav___1348278280360427581"]) {
	box-shadow: 0 0 10px yellow;
	background-color: yellow;
	border-radius: 29%;
}

.link__2ea32[data-list-item-id="channels___1348630195082625084"], .link__2ea32[data-list-item-id="channels___1348630195082625084"] .name__2ea32  {
	animation: peculiar 5s ease 0s infinite normal forwards;
	color: #00FF00 !important;
}

.link__2ea32[data-list-item-id="channels___1398578313034862623"] .name__2ea32 .text-md\/medium_cf4812  {
	font-family: "chancur", arial, monospace !important;
	font-style: italic;
}

.link__2ea32[data-list-item-id="channels___1348278598179623016"] {
	filter: blur(1px);
}

@keyframes peculiar {
	0%, 
	50%,
	100%
	{
		transform: scale(0.2, 0.2) rotate(-5deg);
	}

	25%, 
	75% {
		transform: scale(1, 1) rotate(0);
	}
}

/* VEA_REBIRTH */

li[data-author-id="1334564142891143259"] {
    background-image: linear-gradient(to right, white 4px,black 4px, black 7px, white 7px, white 10px, black 10px);
}

li[data-author-id="1334564142891143259"] .messageContent_c19a55 {
    color: hwb(0 100% 0%);
    font-family: "Lucida Console", "lucidaconsolebu" !important;
    font-size: 14px;

    & strong {
        color: black;
        -webkit-text-stroke-width: 0.6px;
        -webkit-text-stroke-color: red;
    }
}

li[data-author-id="1334564142891143259"] .headerText_c19a55 .username_c19a55 {
    font-size: 0;
} 

li[data-author-id="1334564142891143259"] .headerText_c19a55 .username_c19a55::after {
    content: "Vea Ortis";
	font-family: "Lucida Console", "lucidaconsolebu" !important;
    -webkit-text-fill-color: white;
    font-size: 15px;
    font-weight: bolder;
    display: inline;
}

/*V-NOTE; The above was an attempt to make my username appear consistent accross everything
despite my nickname, but the big issue is that in replies this will also replace the reply-ee's
username as well, which looks really weird. unsure if there's a solution or if i'm just going to
have to drop this idea, maybe i could do a custom server tag like angela? */
/* angela note: fixed :3 */

li[data-author-id="1334564142891143259"] .username_c19a55 {
    -webkit-text-fill-color: white;
    font-weight: bolder;
} 

li[data-author-id="1334564142891143259"] .clanTagChiplet_c19a55,
li[data-author-id="1334564142891143259"] .clickable_ee71ee {
    display: none;
}

li[data-author-id="1334564142891143259"] .messageContent_c19a55::before {
    display: inline-block;
    font-family: "MS Gothic";
    font-size: 0.80em;
    content: "⬣ ";
    color: #FFF;
}

/* ICE */

li[data-author-id="467270876673605642"] .message__5126c {
    -webkit-text-fill-color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "mom", "typewriter";
    vertical-align: bottom;
    background: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/icepaper.png") !important;
    background-size: 15% !important;
    background-color: #000;
    border: dashed black 1.5px;

    & strong {
        font-weight: bolder;
    }
}

li[data-author-id="467270876673605642"] .messageContent_c19a55 {
    vertical-align: middle;
}

li[data-author-id="467270876673605642"] * {
    border-radius: 0px;
}

li[data-author-id="467270876673605642"] .timestamp_c19a55 {
    text-decoration: underline;
}

li[data-author-id="467270876673605642"] .avatar_c19a55,
li[data-author-id="467270876673605642"] .reactions__23977,
li[data-author-id="467270876673605642"] .timestampVisibleOnHover_c19a55,
li[data-author-id="467270876673605642"] .repliedMessageClickableSpine_c19a55 {
    display: none;
}


li[data-author-id="467270876673605642"] .messageContent_c19a55::before {
    display: inline-block;
    font-size: 1em;
    content: "- ";
    transform: scale(1.4, 0.9);
}

li[data-author-id="467270876673605642"] .markup__75297 {
    left: -50px;
}

li[data-author-id="467270876673605642"] .edited_c19a55 {
    font-size: 0px;
}

li[data-author-id="467270876673605642"] .edited_c19a55::after {
    content: "(REVISED)";
	font-size: 10px;
	text-decoration: underline;
}

li[data-author-id="467270876673605642"] .edited_c19a55 {
    font-size: 0px;
}

li[data-author-id="467270876673605642"] .wrapper_f61d60 {
    background-color: rgba(255, 255, 0, 0.303);
}

li[data-author-id="467270876673605642"] .edited_c19a55::after {
    content: "(REVISED)";
	font-size: 10px;
	text-decoration: underline;
}

li[data-author-id="467270876673605642"] .spoilerMarkdownContent__299eb {
    background-color: var(--__current--spoiler-background-color);
    filter: brightness(0%);
    border-radius: 0%;
}
/* V-Note: there has GOT to be a better way to do this */

li[data-author-id="467270876673605642"] .originalLink_af017a {
    border: black solid;
    border-width: 4px 4px 10px 4px;
}

/* ANGELA */

li[data-author-id="636050805103001650"] {
	--text-subtle: black !important;
}

li[data-author-id="636050805103001650"] .message__5126c {
    background-color: #C2AEEF;
    background-image: url('https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/angelapolka.png') !important;
    background-size: 300px 300px !important;
    border: 4px solid #DACCFF;
    border-radius: 15px;
}

li[data-author-id="636050805103001650"]:not(:has(+ li .groupStart__5126c)) .groupStart__5126c,
li[data-author-id="636050805103001650"]:not(:has(+ div .divider__5126c)) .groupStart__5126c,
li[data-author-id="636050805103001650"]:not(:has(+ .scrollerSpacer__36d07)) .groupStart__5126c {
	border-bottom-style: none;
	border-bottom-left-radius: 0; border-bottom-right-radius: 0;
}

li[data-author-id="636050805103001650"] .message__5126c:not(.groupStart__5126c) {
    border-bottom-style: none;
	border-top-style: none;
    border-radius: 0;
}

li[data-author-id="636050805103001650"]:has(+ li .groupStart__5126c) .message__5126c,
li[data-author-id="636050805103001650"]:has(+ .divider__5126c) .message__5126c,
li[data-author-id="636050805103001650"]:has(+ .scrollerSpacer__36d07) .message__5126c {
    border-bottom: 4px solid #DACCFF !important;
	border-bottom-left-radius: 15px !important; border-bottom-right-radius: 15px !important;
}

.divider__5126c + li[data-author-id="636050805103001650"] .message__5126c {
    border-top: 4px solid #DACCFF;
	border-top-left-radius: 15px; border-top-right-radius: 15px;
}

li[data-author-id="636050805103001650"] {
	cursor: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/cur-dreweehand.png"), auto;
}

li[data-author-id="636050805103001650"]:active {
    cursor: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/cur-dreweehandclosed.png"), auto !important;
}

li[data-author-id="636050805103001650"] .markup__75297 .anchor_edefb8:hover, 
li[data-author-id="636050805103001650"] .downloadHoverButtonIcon__6c706, 
li[data-author-id="636050805103001650"] .fileNameLink__0ccae, 
li[data-author-id="636050805103001650"] .username_c19a55:hover,
li[data-author-id="636050805103001650"] .clickable_c19a55:hover, 
li[data-author-id="636050805103001650"] .clickable__10651,
li[data-author-id="636050805103001650"] .clickable_af017a:hover,
li[data-author-id="636050805103001650"] .originalLink_af017a:hover {
    cursor: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/cur-dreweehandpoint.png"), auto;
}

li[data-author-id="636050805103001650"] .messageContent_c19a55 {
    color: black;
    font-family: 'workear', Arial, sans-serif !important;
    font-size: 16px;

    & strong {
        font-size: 20px;
    }
}

li[data-author-id="636050805103001650"] .markup__75297 h1,
li[data-author-id="636050805103001650"] .markup__75297 h2,
li[data-author-id="636050805103001650"] .markup__75297 h3 {
    color: black;
    font-family: 'workear', Arial, sans-serif !important;
}

li[data-author-id="636050805103001650"] .markup__75297 small span {
    color: black;
    font-family: 'workear', Arial, sans-serif !important;
}

li[data-author-id="636050805103001650"] .markup__75297 small span strong span {
    color: black;
    font-family: 'workear', Arial, sans-serif !important;
    font-size: 14px;
}

li[data-author-id="636050805103001650"] .tagText__10651, 
li[data-author-id="636050805103001650"] .timestamp_c19a55, 
li[data-author-id="636050805103001650"] .timestampInline_c19a55,
li[data-author-id="636050805103001650"] .repliedTextPreview_c19a55
{
    color: black !important;
    font-family: 'workear', Arial, sans-serif !important;
}

li[data-author-id="636050805103001650"] .repliedMessage_c19a55 .username_c19a55 {
	border-radius: 25px;
	border: 4px solid #DACCFF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: #A58FE0 !important;
	padding-left: 5px;
	padding-right: 5px;
    font-family: 'workear', Arial, sans-serif !important;
}

li[data-author-id="636050805103001650"] .headerText_c19a55 .username_c19a55 {
	border-radius: 25px;
	border: 4px solid #DACCFF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: #A58FE0 !important;
	padding-left: 5px;
	padding-right: 5px;
    font-family: 'workear', Arial, sans-serif !important;
}

li[data-author-id="636050805103001650"] .repliedTextPreview_c19a55,
li[data-author-id="636050805103001650"] .repliedTextContentTrailingIcon_c19a55,
li[data-author-id="636050805103001650"] .repliedMessageContentHovered_c19a55,
li[data-author-id="636050805103001650"] .channelMention,
li[data-author-id="636050805103001650"] .wrapper_f61d60,
li[data-author-id="636050805103001650"] .footerContainer__122e4,
li[data-author-id="636050805103001650"] .headerText__122e4,
li[data-author-id="636050805103001650"] .reactionCount__23977,
li[data-author-id="636050805103001650"] .altText__0f481 {
    color: black !important;
}

li[data-author-id="636050805103001650"] ._752971923a1e6683-codeActions {
    color: white !important;
}

li[data-author-id="636050805103001650"] .quote__122e4 {
	opacity: 1;
	background-color: black !important;
}

li[data-author-id="636050805103001650"] .repliedMessageClickableSpine_c19a55{
	border-color: black !important;
}

li[data-author-id="636050805103001650"] .repliedMessage_c19a55 .username_c19a55 {
	opacity: 1;
}

/* svg elements */
li[data-author-id="636050805103001650"] .headerIcon__122e4 path,
li[data-author-id="636050805103001650"] .reactionBtn__23977 .icon__23977 path,
li[data-author-id="636050805103001650"] .repliedTextContentLeadingIcon_c19a55 path {
	fill: black !important;
}

li[data-author-id="636050805103001650"] code {
    background-color: #353748 !important;
    color:white !important;
    font-weight: normal;
    letter-spacing: 0px;
}

li[data-author-id="636050805103001650"] .scrollbarGhostHairline__506b3 {
    background-color: #353748 !important;
    color:white !important;
    font-weight: normal;
}

li[data-author-id="636050805103001650"] attachmentLink {
    background-color: #8A47FF !important;
}

li[data-author-id="636050805103001650"] .messageContent_c19a55 .anchor_edefb8,
li[data-author-id="636050805103001650"] .messageContent_c19a55 .anchorUnderlineOnHover_edefb8 {
    color: #491F91 !important;
}

li[data-author-id="636050805103001650"] .headerText_c19a55 .badge__10651 {
    content: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/favicon-jj.png")
}

li[data-author-id="636050805103001650"] .headerText_c19a55 .tagText__10651 {
    font-size: 0;
}

li[data-author-id="636050805103001650"] .headerText_c19a55 .tagText__10651::after {
    content: "JLJ";
    font-size: 12px;
}

/* DERZOX */

li[data-author-id="714529404432154734"] .message__5126c {
    border-radius: 10px;
    background-color: black !important;
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 6px;
    font-family: "derzoxrain";
}
li[data-author-id="714529404432154734"] .markup__75297 h1,
li[data-author-id="714529404432154734"] .markup__75297 h2,
li[data-author-id="714529404432154734"] .markup__75297 h3
{
    font-family: "derzoxrain";
}

li[data-author-id="714529404432154734"] .messageContent_c19a55,
li[data-author-id="714529404432154734"] .header_c19a557,
li[data-author-id="714529404432154734"] .visualMediaItemContainer_f4758a,
li[data-author-id="714529404432154734"] .markup__75297,
li[data-author-id="714529404432154734"] .inlineMediaEmbed__623de,
li[data-author-id="714529404432154734"] .nonVisualMediaItemContainer_f4758a,
li[data-author-id="714529404432154734"] .guildInviteContainer__083ae {
    position: relative;
    left: -60px;
}

li[data-author-id="714529404432154734"] .repliedMessage_c19a55 {
    position: relative;
    left: -50px;
}

li[data-author-id="714529404432154734"] .repliedMessageClickableSpine_c19a55 {
    width: 1%;
    left: -8px;
}

li[data-author-id="714529404432154734"] .avatar_c19a55,
li[data-author-id="714529404432154734"] .avatar_c19a55Decoration {
    display: none;
}

/* JOSE */

li[data-author-id="328514436245618699"] {
    font-family: "Comic Sans MS", 'comicsanslol', Arial, sans-serif !important;
	
/*
░░░░░▄▄▄▄▀▀▀▀▀▀▀▀▄▄▄▄▄▄░░░░░░░
░░░░░█░░░░▒▒▒▒▒▒▒▒▒▒▒▒░░▀▀▄░░░░
░░░░█░░░▒▒▒▒▒▒░░░░░░░░▒▒▒░░█░░░
░░░█░░░░░░▄██▀▄▄░░░░░▄▄▄░░░░█░░
░▄▀▒▄▄▄▒░█▀▀▀▀▄▄█░░░██▄▄█░░░░█░
█░▒█▒▄░▀▄▄▄▀░░░░░░░░█░░░▒▒▒▒▒░█
█░▒█░█▀▄▄░░░░░█▀░░░░▀▄░░▄▀▀▀▄▒█
░█░▀▄░█▄░█▀▄▄░▀░▀▀░▄▄▀░░░░█░░█░
░░█░░░▀▄▀█▄▄░█▀▀▀▄▄▄▄▀▀█▀██░█░░
░░░█░░░░██░░▀█▄▄▄█▄▄█▄████░█░░░
░░░░█░░░░▀▀▄░█░░░█░█▀██████░█░░
░░░░░▀▄░░░░░▀▀▄▄▄█▄█▄█▄█▄▀░░█░░
░░░░░░░▀▄▄░▒▒▒▒░░░░░░░░░░▒░░░█░
░░░░░░░░░░▀▀▄▄░▒▒▒▒▒▒▒▒▒▒░░░░█░
░░░░░░░░░░░░░░▀▄▄▄▄▄░░░░░░░░█░░
*/
}

/* CNTRPL */

li[data-author-id="212160419769483265"] {
    font-family: "M PLUS Rounded 1c", sans-serif;
    border-left: 1px solid #B5EDFF;
    background: linear-gradient(to right, #B5EDFF30, #B5EDFF00);
}

li[data-author-id="212160419769483265"] code {
    background-color: #353748 !important;
    font-weight: normal;
    letter-spacing: 0px;
}

/* BOYCRAFT */

li[data-author-id="844289867714134097"] {
	font-family: "doctoramigo" !important;
}

li[data-author-id="844289867714134097"] .groupStart__5126c {
	/* angela note jesus christ */
    background-image: linear-gradient(to bottom, 
	#ffffff 2px,
	#ffffff 4px,
	#0057AF 4px,
	#0057AF 8px,
	#ffffff 8px,
	#ffffff 12px,
	#0057AF 12px,
	#0057AF 16px,
	#ffffff 16px,
	#ffffff 20px,
	#0057AF 20px,
	#0057AF 24px,
	#ffffff 24px,
	#ffffff 28px,
	#0057AF 28px,
	#0057AF 32px,
	#ffffff 32px,
	#ffffff 40px,
	#0057AF 40px
	) !important;
	border-radius: 0px;
	padding-bottom: -20px;
}

li[data-author-id="844289867714134097"] .hasReply_c19a55 {
	/* angela note jesus christ */
	background-image: unset;
    background-image: linear-gradient(to bottom, 
	#ffffff 24px,
	#ffffff 26px,
	#0057AF 26px,
	#0057AF 30px,
	#ffffff 30px,
	#ffffff 34px,
	#0057AF 34px,
	#0057AF 38px,
	#ffffff 38px,
	#ffffff 42px,
	#0057AF 42px,
	#0057AF 46px,
	#ffffff 46px,
	#ffffff 50px,
	#0057AF 50px,
	#0057AF 54px,
	#ffffff 54px,
	#ffffff 62px,
	#0057AF 62px
	) !important;
	border-radius: 0px;
	padding-bottom: -20px;
}

li[data-author-id="844289867714134097"] .headerText_c19a55 .username_c19a55 {
	background-color: white !important;
	color: #0057af;
	font-size: 36px;
	line-height: 60px;
	top: -10px;
}

li[data-author-id="844289867714134097"] .headerText_c19a55 {
	line-height: 60px;
	top: -10px;
}

li[data-author-id="844289867714134097"] .message__5126c,
li[data-author-id="844289867714134097"] .repliedTextPreview_c19a55,
li[data-author-id="844289867714134097"] .repliedMessage_c19a55 .username_c19a55 
{
    background-color: #0057af !important;
	color: white;
	border-radius: 0px;
}

li[data-author-id="844289867714134097"] .avatar_c19a55 {
	border-radius: 0px;
	position: absolute;
	top: -2px;
}

li[data-author-id="844289867714134097"] .hasReply_c19a55 .avatar_c19a55 {
	top: 20px;
}

/* angela note: this stuff at the bottom removes the extra info at the top of a beginning message,
removing if i figure out how to make it not be placed weird*/

li[data-author-id="844289867714134097"] .vc-message-decorations-wrapper,
li[data-author-id="844289867714134097"] .timestamp_c19a55,
li[data-author-id="844289867714134097"] .chipletContainerInline__10651
{
	display: none;
}

/*/////////// funny emojis //////////////*/

.emoji[data-name=":kiwi:"] {
	content-visibility: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/kiwi.svg");
}

.emoji[data-name=":troll:"] {
	content-visibility: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://raw.githubusercontent.com/jelleejamm/chhcss/refs/heads/main/img/troll.svg");
} 